* {
    font-family: "Poppins", serif;
}

:root {
    --text-color-h1: #0D1B2A;
    --text-color-p: #1B263B
}

.container_login {
    background: white;
    width: 100%;
    height: 100dvh;
}

.container_login article:first-child section:first-child svg {
    width: 30px;
    stroke: #0D1B2A;
}

.container_login article:first-child section:nth-child(2) {
    margin-top: 100px;
    width: 100%;
}

.container_login article:first-child section:nth-child(2) form {
    width: 100%;
}

.container_login article:first-child section:nth-child(2) h1 {
    font-weight: bold;
    font-size: 30px;
    color: #0D1B2A;
}

.container_login article:first-child section:nth-child(2) p {
    color: #0D1B2A;
}

.container_login article:first-child section:nth-child(3) {
    margin-top: 80px;
    width: 100%;
}


.container_login article:last-child p{
    font-size: 14px;
    width: 100%;
}
.container_login article:last-child a{
    color: #778DA9;

}
.container_login article:last-child button{
    width: 100%;
    background: #778DA9;
    color: white;
    margin: 0;
    height: 45px;
    border: 0;
}
.container_login article:last-child button>a{
    color: white;
    text-decoration: none;
}

.container_login article:last-child button:active{
    background-color: #859dbd;
    color: white;
}

/* Inputs */

/* From Uiverse.io by Maximinodotpy */
.inputGroup {
    margin: 1em 0 1em 0;
    position: relative;
    width: 100%;
    position: relative;
}

.inputGroup .icon_password {
    position: absolute;
    width: 30px;
    top: 0;
    right: 7px;
    height: 100%;
    justify-content: center;
}

.hidden_eye {
   display: none;
}
.view_eye{
    display: flex;
}

.inputGroup .icon_password button {
    border: none;
    background:transparent;
    width: 100%;
    height: 100%;
}

.inputGroup input {
    font-size: 100%;
    outline: none;
    border: 2px solid #778DA9;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    padding: 10px;

}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #5c6975;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: white;
    color: #778DA9;
    font-weight: bold;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: #778DA9;
    box-shadow: 0px 2px 4px #566372,
        0px 0px 6px white,
        inset -1px -1px 6px white;
}

.hidden_eye{
    overflow: hidden;
}